body{
  margin: 0px;
}
p{
  font-size: 1.1em;
}
a{
  font-size:1.5em;
}

#big-title{
  background-color: #d9d9d9;
  padding: 30px 2px;
  margin:0px;
  text-align: center;
}

.column {
  float: left;
  padding: 0px;

}
.menu {
  float: left;
  width: 33.33%;
  height: 100%;
}
*{
  box-sizing: border-box;
}
.content {
  float: right;
  padding: 15px;
  background-color: white;
  width: 66.67%;

}
.clearfix{
  clear: both;
  display: table;
}
.bottles{
  display: none;
}
.last-thing{
  display: none;
}
.item.lorems{
  margin-top: 8px;
}
.item{
  padding: 8px;
  margin-bottom: 8px;
  background-color: #bbbbbb;
  color: #ffffff;
  border-radius: 0px 100px 100px 0px;
}
